export MAYAR_API_BASE_URL=https://api.mayar.club/hl/v1
export MAYAR_API_KEY=
export MAYAR_WEBHOOK_TOKEN=dev-mayar-webhook-token
export OVERLAY_TOKEN=dev-overlay-token
export ADMIN_USERNAME=admin
export ADMIN_PASSWORD=admin123
export DONATEX_BASE_URL=http://localhost:4000
